<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <h2 class="form-signin-heading">Adicionar Sócios</h2>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
